@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* Global */
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(253, 251, 251);
  margin: 0%;
  font-family: "Rubik", sans-serif;
}

/* Cabeçalho */
header {
  box-shadow: 1px 1px 5px #1818187e;
  background-color: rgb(253, 251, 251);
  text-align: center;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
}
#titulo a {
  color: rgb(0, 136, 18);
}
#titulo a:hover {
  transition: 100ms;
  color: rgb(2, 172, 24);
}

nav ul li {
  font-size: 24px;
  display: inline;
  padding: 5px;
  margin: 20px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  transition: 100ms;
  color: rgb(0, 136, 18);
}
h2 {
  color: rgb(0, 136, 18);
  font-size: 1.6rem;
  font-weight: 600;
}
h3 {
  text-align: center;
  font-size: 1.5rem;
}

li {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}
/* Banner */

#welcome {
  padding-top: 180px;
  text-align: center;
  justify-content: baseline;
  height: 500px;
  width: 100%;
}
#welcome p {
  top: -70px;
  position: relative;
  display: inline-block;
  font-size: 8rem;
  animation: welcome 2s alternate infinite ease-in-out;
}
@keyframes welcome {
  0% {
    color: rgb(31, 236, 133);
  }
  100% {
    color: rgb(1, 128, 29);
  }
}
#welcome img {
  width: 24rem;
  border: 5px;
  animation: perfil 5s infinite ease;
  box-shadow: 1px 1px 5px rgb(58, 58, 58);
}

@keyframes perfil {
  0%{border-radius: 50% 50% 50% 50% ;}
  33%{border-radius: 10% 50% 10% 50% ;}
  77%{border-radius: 50% 10% 50% 10% ;}
  100%{border-radius: 50% 50% 50% 50% ;}
}



/* Artigos e aside */
article p {
  line-height: 26px;
}

.lado-esquerdo {
  font-size: 1.3rem;
  width: 70vw;
  display: inline-block;
  margin-left: 15px;
  padding: 160px 15px 15px 5px;
}

.lado-direito {
  margin-right: 25px;
  float: right;
  font-size: 1.1rem;
  padding: 160px 15px 15px 5px;
  width: 40vh;
  float: right;
}

/* Skills  */
#skills,
#linguagem {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  padding-top: 150px;
}
#listas {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#licoes_aprendidas,
#licoes_a_aprender {
  width: 17rem;
  padding: 20px 20px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.514);
}

#licoes_aprendidas:hover {
  transform: translateY(-15px);
  transition: 200ms;
}
#licoes_a_aprender:hover {
  transform: translateY(-15px);
  transition: 200ms ease-in;
}

/* tabelas */
#tabelas {
  height: 800px;
}

table {
  display: flex;
  justify-content: center;
  margin: 2rem;
  text-align: center;
}
table tr {
  background-color: rgb(209, 209, 209);
}
table th {
  background-color: rgb(163, 163, 163);
  padding: 5px 90px;
}
table td {
  background-color: rgb(143, 253, 176);
  padding: 5px;
}
/* rodape */
footer {
  padding: 10px;
  height: 130px;
  text-align: center;
  box-shadow: 1px 1px 5px #1818187e;
}
footer img {
  margin-right: 13px;
  width: 80px;
}

footer img:hover {
  animation: icon 500ms forwards ease-in-out;
}
@keyframes icon {
  50% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(360deg);
    transform: scale(1.1);
  }
}
