@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(253, 251, 251);
  margin: 0%;
  font-family: "Rubik", sans-serif;
}

header {
  background-color: rgb(253, 251, 251);
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}
#titulo a {
  color: rgb(0, 136, 18);
}
#titulo a:hover {
  transition: 100ms;
  color: rgb(2, 172, 24);
}

nav ul li {
  font-size: 24px;
  display: inline;
  padding: 5px;
  margin: 20px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  transition: 100ms;
  color: rgb(0, 136, 18);
}

main {
  margin-top: 130px;
  border: 1px solid black;
}
.welcome {
  text-align: center;
  justify-content: baseline;
  border: 1px solid black;
  height: 500px;
  width: 100%;
}
.welcome p {
    top: -70px;
  position: relative;
  display: inline-block;
  font-size: 8rem;
  animation: welcome 1s alternate infinite ease-in-out;
}
@keyframes welcome {
  0% {
    color: rgb(31, 236, 133);
  }
  100% {
    color: rgb(55, 0, 255);
  }
}
img {
  width: 24rem;
  border-radius: 50%;
  border: 5px solid black;
}

article p {
  line-height: 26px;
}

.lado-esquerdo {
  width: 70vw;
  display: inline-block;
  margin: 10px;
  border: 1px solid black;
}

.lado-direito {
  width: 220px;
  float: right;
  margin: 10px;
  border: 1px solid black;
}
